page-home {
  .button-bottom{
  position: absolute;
  bottom: 5%;
  width: 100%;
  }

  .after_logo{
    background: color($colors,elvey_blue);
    color: white;
  }

  .displayed {
    display: block;
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
}

  .add_button{
    //position: absolute;
    //top: 60%;
    bottom: 30%;
    width: 100%;
  }
  .icon
  {
    float:right;
    height:40px; 
    width: auto;
  }
}
