page-welcome {
  #welcome {
    background : color($colors,white);
  }
  .after_logo{
    background: color($colors,elvey_blue);
    color: white;
  }
  .button{
    margin-top: 10px;
    color: "elvey_blue";
  }
  .button2{
    color: "elvey_blue";
    margin-top: 10px;
  }
}
